.footer{
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E4D155;
    color: white;
}

.footer span{
    font-weight: bold;
    color: #114d4a;
}